<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="8b88097e-2049-48ed-a241-825a1ffb0a73" Version="1.0.0.0" Publisher="CN=D.RAJASEKHARREDDY" />
  <Properties>
    <DisplayName>App10</DisplayName>
    <PublisherDisplayName>D.RAJASEKHARREDDY</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="Page.html">
      <VisualElements DisplayName="App10" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="App10" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>